header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    }
main{
    border: 1px; color:  red;
    width: 400px;
    margin: 0 auto;
}
#perfil{
    height: 200px;
    width: 200px;
text-align: center;
}
#icon{
    width: 20px;
    height: 20px;
}
ul{
   align-content: center;
   padding: 0;
   list-style: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}