/* Reset some default styles */
@mixin marginAuto (){
    margin-left: auto;
    margin-right: auto;
}
* {
    margin: 0;
    padding: 0;
  }
  /*  
    .enlaces es la clase que tiene el contenedor gris de los enlaces
    background-color: define el color gris de fondo, se estan usando
    colores en hexadecimal
    padding: espacio interno de la etiqueta, da un espacio dentro del area gris
    border-radius: redondea los bordes, en el area gris, las esquinas esta redondeaddas
    width: Define el anchode la seccion
    margin-top: espacio exterior del area gris hacia arriba;
    margin-bottom: espacio exterior del area gris hacia abajo;
    margin-left: espacio exterior del area gris hacia la izquierda;
    margin-right: espacio exterior del area gris hacia derecha;
    nota: usar margin con valor en 'auto' centra los elementos que tengan un width definido
  */
  .enlaces {
    background-color: #d1d1d1;
    padding: 8px;
    border-radius: 8px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include marginAuto();
    li {
        list-style: none;
        padding: 4px;
      }
      a {
        color: #272727;
      }
       ul {
        border: 1px dashed #272727;
      }
  } 
  /* selector de etiqueta p, clase . id # */
  .docsContainer {
    width: 600px;
    @include marginAuto();
  }
  .bloqueDocumentacion {
    margin-top: 8px;
  }
  .docItem {
    background-color: #d3d3d3;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    h3 {
        margin: 8px;
      }
  }
  .docItemTitle,
  .docItemDescription,
  .codeExampleContainer {
    margin: 8px;
  }
  .codeExample {
    background-color: #000;
    height: 25px;
    color: #72ff72;
    padding: 8px;
    border-radius: 8px;
    margin: 8px;
  }
  .docItem p:nth-child(2) {
    color: #917c7c;
  } 
body{
    html {
        margin: 0;
        padding: 0;
    }
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav {
    ul {
    list-style-type: none;
    padding: 0;
        li {
        display: inline;
        margin-right: 10px;
        a {
        color: #fff;
        text-decoration: none;
      }
  }
}}
main {
  padding: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}