main{
    @include flexColumnCenter(column,center);
    .perfil{
        img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
        }    
        h2{
            margin: 0;
            font-size: 24px;
            color: aquamarine;
        }
        p{
            margin: 5px 0;
            font-size: 18px;
            color: #666;
        }
        .redes-sociales {
            @include flexColumnCenter(row,center);

            list-style-type: none;
            list-style: none;
            padding: 0;
            .icon{
                width: 40px;
                height: 40px;
                /*&:hover
                transform: scale(1.2);*/
            }

        }
       }
}